In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from scipy.stats import zscore
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn import preprocessing

In [2]:
fds = pd.read_csv("./Train_Test_IoT_dataset/Train_Test_IoT_Fridge.csv")

In [3]:
fds

,ts,date,time,fridge_temperature,temp_condition,label,type
0,1556245180,25-Apr-19,19:19:40,9.00,high,1,ddos
1,1556245180,25-Apr-19,19:19:40,9.25,high,1,ddos
2,1556245185,25-Apr-19,19:19:45,12.65,high,1,ddos
3,1556245185,25-Apr-19,19:19:45,4.65,low,1,ddos
4,1556245195,25-Apr-19,19:19:55,12.65,high,1,ddos
...,...,...,...,...,...,...,...
59939,1554203235,2-Apr-19,04:07:15,7.65,high,0,normal
59940,1554203235,2-Apr-19,04:07:15,13.85,high,0,normal
59941,1554203235,2-Apr-19,04:07:15,5.40,low,0,normal
59942,1554203235,2-Apr-19,04:07:15,2.90,low,0,normal
59943,1554203235,2-Apr-19,04:07:15,7.85,high,0,normal

In [4]:
fds.describe()

                 ts  fridge_temperature         label
count  5.994400e+04        59944.000000  59944.000000
mean   1.555034e+09            7.131876      0.416122
std    1.101367e+06            3.619223      0.492918
min    1.554061e+09            1.000000      0.000000
25%    1.554061e+09            4.200000      0.000000
50%    1.554203e+09            6.700000      0.000000
75%    1.556246e+09           10.250000      1.000000
max    1.556526e+09           14.000000      1.000000

In [5]:
#droping the unsed attributes
cfds = fds.drop(columns=["ts","time", "date", "type"])
# Converting string labels into numbers.
le = preprocessing.LabelEncoder()
cfds["temp_condition"] = le.fit_transform(cfds["temp_condition"])
#applying the zscore function to the fidge_temp
cfds["fridge_temperature"] = zscore(cfds["fridge_temperature"])
#showing the results
cfds

       fridge_temperature  temp_condition  label
0                0.516171               0      1
1                0.585248               0      1
2                1.524684               0      1
3               -0.685754               1      1
4                1.524684               0      1
...                   ...             ...    ...
59939            0.143160               0      0
59940            1.856249               0      0
59941           -0.478526               1      0
59942           -1.169287               1      0
59943            0.198421               0      0

[59944 rows x 3 columns]

In [6]:
#Creating the X and the y variables
X = cfds[["fridge_temperature", "temp_condition"]]
y = cfds["label"].astype('int')
#Deviding data into  80% training and 20% test 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=3545, stratify=y)
X_train

       fridge_temperature  temp_condition
1159            -0.644308               1
45047           -1.417962               1
15271           -0.202221               0
2584            -1.321255               1
39825           -0.865352               1
...                   ...             ...
53119            0.156975               0
34285            1.524684               0
22054           -1.445592               1
40706           -0.437080               1
37683            1.649021               0

[47955 rows x 2 columns]

In [7]:
SVM = SVC(kernel='linear')
SVM.fit(X_train, y_train)

SVC(kernel='linear')

In [8]:
y_pred = SVM.predict(X_test)

In [9]:
# Model Accuracy
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5838685461673201

In [10]:
NB = GaussianNB()
NB.fit(X_train, y_train)

GaussianNB()

In [11]:
y_pred = NB.predict(X_test)

In [12]:
# Model Accuracy
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5838685461673201

In [13]:
KNN = KNeighborsClassifier()
KNN.fit(X_train,y_train)

KNeighborsClassifier()

In [14]:
y_pred = KNN.predict(X_test)

In [15]:
# Model Accuracy
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.52723329718909

In [16]:
RF=RandomForestClassifier()
RF.fit(X_train,y_train)

RandomForestClassifier()

In [17]:
y_pred = RF.predict(X_test)

In [18]:
# Model Accuracy
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5810326132287931

In [19]:
DT = DecisionTreeClassifier()
DT.fit(X_train,y_train)

DecisionTreeClassifier()

In [20]:
y_pred = DT.predict(X_test)

In [21]:
# Model Accuracy
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5810326132287931